@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsla(0, 0%, 96%, 1);
  --foreground: #171717;
  --Color-Text-Main: hsla(0, 0%, 6%, 1);
  --Color-Text-Secondary: #555555;
  --Color-Text-Body: hsla(198, 29%, 26%, 1);
  --Color-Text-accentMain: hsla(0, 0%, 100%, 1);
  --Color-Text-accentSecondary: hsla(0, 0%, 95%, 1);
  --Color-Fill-Brand-primary: hsla(197, 93%, 29%, 1);
  --Color-Fill-Brand-secondary: hsla(29, 94%, 69%, 1);
  --Color-Fill-Neutral-strong: hsla(198, 89%, 10%, 1);
  --Color-Fill-Brand-quaternary: hsla(63, 58%, 87%, 1);
  --gradient-custom: linear-gradient(
    247.41deg,
    rgba(26, 27, 19, 0) 13.04%,
    #1a1b13 84.46%
  );
  --duration: 5s;
  --duration-double: 10s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background);
  color: var(--Color-Text-Main);
}

/* Wrapper for the logos */
.logos-wrapper-container {
  overflow: hidden; /* Hide logos that are out of view */
  position: relative;
}

/* This will be the actual scrolling container */
.logos-wrapper {
  display: flex;
  gap: 8px; /* Adjust gap between logos as needed */
  animation: infinite-scroll 20s linear infinite; /* Infinite scroll animation */
  width: max-content; /* Ensure the container is only as wide as the logos */
}

/* Keyframes for infinite scroll */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0); /* Start from the first set of logos */
  }
  100% {
    transform: translateX(
      -100%
    ); /* Move the entire container by the width of all logos */
  }
}

/* Duplicate logos with the same animation for seamless scrolling */
.logos-wrapper::after {
  content: "";
  display: flex;
  gap: 8px; /* Match the gap between logos */
}

.logos-wrapper .logo-item {
  /* Optional: Add opacity/hover effects if needed */
  transition: opacity 0.3s;
  opacity: 0.75;
}

.logos-wrapper .logo-item:hover {
  opacity: 1;
}

@keyframes fadeUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up-0ms {
  animation: fadeUp 500ms ease-out 0ms forwards; /* No delay */
}

.fade-up-50ms {
  animation: fadeUp 500ms ease-out 50ms forwards; /* 50ms delay */
}

.fade-up-100ms {
  animation: fadeUp 500ms ease-out 100ms forwards; /* 100ms delay */
}

.fade-up-150ms {
  animation: fadeUp 500ms ease-out 150ms forwards; /* 150ms delay */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  scrollbar-width: none; 
}